terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstates"
    storage_account_name = "yourtfstateacct"
    container_name       = "tfstate"
    key                  = "microservice-app-example/dev/terraform.tfstate"
  }
}

